/* Color Variables */
@layer base {
    :root {
        --background-color: #f7f7f7;
        --secondary-background-color: #e7ffff;
        --light-text: #f5f4f4;
        --primary-blue-color: #1d92c9;
    }
}

body {
    background-color: var(--background-color);
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

.arimo-font {
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.gap-50 {
    gap: 50px;
}

.zoom-effect {
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
}

.generic-text-color {
    color: inherit;
    text-decoration: none;
}

.generic-text-color:hover {
    color: var(--primary-blue-color);
}

.project-header {
    width: 100%;
    padding-bottom: 2rem;
    background-image: url('./images/pexels-rovenimagescom-949587.jpg');
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;

    nav {
        background-color: rgba(42, 42, 42, 0.886);
        color: var(--light-text);

        div {
            margin: 0 0 0 25px;
        }

        ul {
            margin-left: 25px;

            li {
                padding: 20px 25px;
                font-size: 20px;
                cursor: pointer;
            }
        }
    }

    #intro-container {
        width: 50%;
    
        h2 {
            font-size: 55px;
        }
    
        p {
            font-size: 25px;
        }

        #learn-more-btn {
            border: 2px solid var(--light-text);
            color: var(--light-text);
            background-color: #1d92c965;
            transition: transform 0.2s ease; 
        
            &:hover {
                background-color: var(--primary-blue-color);
                transform: scale(1.1);
            }
        
            &:active {
                background-color: #135c7e;
                transform: scale(0.9);
            }
        }  
    }  
}

.header-border {
    padding-bottom: 1rem;
    border-bottom: solid 1.5px #d2d1d1;
}

main > section:first-of-type {
    #featureCard1 {
        background-image: url('./images/pexels-energepiccom-313690.jpg');
    }
    
    #featureCard2 {
        background-image: url('./images/pexels-lisa-fotios-1485548.jpg');
    }
    
    .feature-card {
        overflow: hidden;
        border-radius: 15px;
        box-shadow: 4px 3.5px 4px #b1b1b1;
        background-size: cover;
        background-position: center; 

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: inherit;
            background-size: cover;
            background-position: center;
            transition: transform 0.3s ease; 
            z-index: -1;
        }

        &:hover::before {
            transform: scale(1.1);
        }

        .feature-wrapper {
            margin: 0px 0px 15px;
            padding-top: 500px;
        }

        header {
            padding: 24px 20px;
            background-color: rgba(241, 241, 241, 0.886);
            box-shadow: 0px 1px 3px #212121;
        }
    }
}

.explore-more-section {
    gap: 25px;

    article, header {
        border-radius: 15px;
    }

    article {
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: center 40%;
        box-shadow: 1.5px 3.5px 5px #b1b1b1;

        header {
            padding: 10px 15px;
            background-color: rgb(241 241 241 / 75%);
            height: 100%;
            box-shadow: 0px 1px 3px #212121;
        }
    }

    #explore-card-1 {
        background-image: url('./images/pexels-taryn-elliott-4099305.jpg');
        background-position: center 75%;
    }

    #explore-card-2 {
        background-image: url('./images/pexels-andrea-piacquadio-3764533.jpg');
        background-size: cover;
    }

    #explore-card-3 {
        background-image: url('./images/pexels-larissa-deruzzi-6546181.jpg');
    }

    #explore-card-4 {
        background-image: url('./images/pexels-valeria-ushakova-3094215.jpg');
        background-position: center 65%;
    }
}

#about-us {
    background-color: var(--secondary-background-color);

    img {
        opacity: 0.9;
        box-shadow: 1.5px 2.5px 3px #c4d5d5;
    }

    a {
        color: inherit;
        text-decoration: none;
        font-style: italic;

        &:hover {
            color: var(--primary-blue-color);
        }
    }
}

footer {
    background-color: black;
    color: var(--light-text);

    .footer-btn {
        color: var(--light-text);

        &:hover {
            color: var(--primary-blue-color);
        }
    }

    #lowerFooter {
        background-color: rgb(16, 16, 16);
    }
}

#form-input {
    width: 150px;
    border-radius: 5px 0px 0px 5px;
}

#form-btn {
    border-radius: 0px 5px 5px 0px;
    background-color: var(--primary-blue-color)
}

#form-btn:hover {
    background-color: #146286;
    color: var(--light-text);
}

#modal-text-content {
    padding: 50px 20px 20px;
}

@media (max-width: 1250px) {
    .form-spacing {
        padding-top: 7% !important;
    }
}

@media (max-width: 1063px) {
    .form-spacing {
        padding-top: 1% !important
    }
}

@media (max-width: 991px) {
    #modal-text-content {
        padding: 5px 20px 20px;
    }

    #modal-image {
        height: 100% !important;
        object-fit: cover !important;
        min-height: 600px;
    }

    #modal-input {
        padding-bottom: 15px;
    }
}

@media (max-width: 890px) {
    .form-spacing {
        padding-top: unset !important
    }    
}

@media (max-width: 767px) {
    #modal-input {
        margin: 0px 10px;
    }

    #modal-img-wrapper {
        display: none;
    }
}

@media (max-width: 700px) {    
    .nav-list {
        display: none;
    }

    #intro-wrapper {
        width: 90%;
    }

    #intro-header {
        font-size: 40px;
    }

    #intro-text {
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    #lower-footer-text {
        text-align: center !important;
    }
}

@media (max-width: 500px) {
    .feature-card,
    #intro-header,
    #intro-text,
    #about-us-text,
    .header-border {
        margin-left: calc((100vw - 100%) / -2);
        margin-right: calc((100vw - 100%) / -2);
    }

    .header-border,
    #about-us-text {
        text-align: center !important;
    }

    #form-btn {
        width: 100px;
    }
}

@media (max-width: 317px) {
    #explore-card-1 {
        background-image: url('./images/pexels-taryn-elliott-4099305.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center 75%;
    }
    
    #explore-card-2 {
        background-image: url('./images/pexels-andrea-piacquadio-3764533.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center 40%;
    }
    
    #explore-card-3 {
        background-image: url('./images/pexels-larissa-deruzzi-6546181.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center 40%;
    }
    
    #explore-card-4 {
        background-image: url('./images/pexels-valeria-ushakova-3094215.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center 65%;
    }
}