body {
    background-color: #F1DAC4;
}

header nav div {
    margin: 0 0 0 25px;
}

header nav ul li {
    padding: 20px 25px;
    font-size: 20px
}

#navbar {
    background-color: rgba(42, 42, 42, 0.886);
    color: white;
}

header {
    width: 100%;
    padding-bottom: 2rem;
    background-image: url('./images/pexels-rovenimagescom-949587.jpg');
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
}